*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: -webkit-linear-gradient(90deg, #8f8f8f,#ffffff,#808080);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #8f8f8f,#ffffff,#808080);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    border: 2px solid #000000c8;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20rem;

    transition: all 0.3s ease;

    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
    color: #000000c8;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 80%;
}

p{
    padding-top: 10px;
}

